<div id="menu-builder--{{model.id}}" class="menu-builder-container"
     ng-controller="Our.Umbraco.MenuBuilder.Controllers.MenuBuilderPropertyEditorController">

    <div ng-nestable ng-model="model.value">
        <span>{{$item.name}}</span>
        <div class="dd-item-actions">
            <a prevent-default ng-click="remove()">
                <i class="icon icon-trash"></i>
            </a>
        </div>
    </div>

    <div class="dd-actions">
        <a ng-click="add()" prevent-default>Add new item</a>
    </div>

</div>
