<div class="menu-builder" ng-controller="Our.Umbraco.MenuBuilder.Controllers.PropertyEditorController as vm">

    <div ng-nestable="vm.nestableOptions" ng-model="vm.items">
        <div class="dd-item-label" ng-click="vm.edit($item)">
            <i ng-if="vm.showIcons" class="icon" ng-class="$item.icon"></i>
            <span>{{$item.name}}</span>
        </div>
        <div class="dd-item-actions">
            <!-- SWAP OUT WITH THE UMBRACO CONFIG TRASH COMPONENT -->
            <a href="" ng-click="vm.remove($item);" prevent-default>
                <i class="icon icon-trash"></i>
            </a>
        </div>
    </div>

    <a class="umb-node-preview-add" href="" ng-click="vm.add($event)" prevent-default>
        <localize key="general_add">Add</localize>
    </a>

    <inner-content-overlay ng-if="vm.overlayConfig.show"
                           config="vm.overlayConfig">
    </inner-content-overlay>

</div>
